# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables and settings
.env
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc

# Flask stuff:
instance/
*.sqlite3
*.db

# PostgreSQL related
*.psql
*.dump
*.backup

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Installer metadata
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Profile & logs
*.profile
*.log

# Pyenv
.python-version

# Virtual Environment
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

# Environments
*.env
*.env.*
.env
./env.py

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PDB
*.pdb

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Microsoft Office temporary files
~$*

# venv specific files
.venv/
bin/

node_modules